@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-image: url('../images/222.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    min-height: 100vh;

}
.icon {
  font-size: 100px;
  color: gold;
}
.form-container {
  margin-top: 30px;
}

.wrapper {
  margin-left: 25em;
  margin-top: 7em;
  color: white;
  height: 75vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  color: white;
  height: 75vh;
  width: 100vh;

}
